<template type="text/x-template" id="item-template">
  <ul class="tree-container">
    <li class="leaf">
      <div
        :class="{parent: isFolder}"
        @click="toggle"
        @dblclick="changeType">
        {{model.name}} <b>{{model.idx}}</b>
        <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
      </div>
      <ul v-show="model.name == '' || open" v-if="isFolder">
        <item
          class="item"
          v-for="model in model.children"
          :model="model">
        </item>

      </ul>
    </li>
  </ul>
</template>
<script>
  import Vue from 'vue';

  export default {
    name: 'Item',
    template: '#item-template',
    props: {
      model: Object,
    },
    data() {
      return {
        open: false,
      };
    },
    computed: {
      isFolder: function isFolder() {
        return this.model.children &&
          this.model.children.length;
      },
    },
    methods: {
      toggle: function toggle() {
        if (this.isFolder) {
          this.open = !this.open;
        }
      },
      changeType: function changeType() {
        if (!this.isFolder) {
          Vue.set(this.model, 'children', []);
          this.addChild();
          this.open = true;
        }
      },
    },
};
</script>
