<template>
  <div class="tree">
    <v-card class="grey lighten-5" flat>
       <v-toolbar class="primary elevation-0" extended>
         <h5>Tree manager</h5>
       </v-toolbar>
       <v-layout row>
         <v-flex xs8 offset-xs2>
           <v-card class="card--flex-toolbar">
             <v-toolbar card class="white" prominent>
               <v-toolbar-title class="body-2 grey--text">Drag and drop items to change order: </v-toolbar-title>
               <draggable class="text-xs-center" v-model="list"  :options="{group:'people'}" @start="drag=true" @end="ondragEnd">
                  <v-chip class="primary white--text" v-for="element in list">{{element.label}}</v-chip>
               </draggable>
               <v-spacer></v-spacer>
             </v-toolbar>
             <v-divider></v-divider>
             <item class="item" :model="treeData"></item>
             <v-card-text style="height: 200px;"></v-card-text>
           </v-card>
         </v-flex>
       </v-layout>
     </v-card>
  </div>
</template>

<script>
import Vue from 'vue';
import Vuetify from 'vuetify';
import draggable from 'vuedraggable';
import Item from './Item';

Vue.use(Vuetify);

const traverse = require('traverse');

export default {
  name: 'treeManager',
  data() {
    return {
      treeData: {
        name: 'rootTree',
        idx: null,
        children: []
      },
      ordering: null,
      scopeTerm: null,
      utmDataArray: [],
      list: [
        {

          label: 'utmTerm',
        },
        {

          label: 'utmCampaign',
        },
        {

          label: 'utmSource',
        },
        {

          label: 'utmMedium',
        },
        {

          label: 'utmContent',
        },
      ],
    };
  },
  methods: {
    createTree(dataObject) {
      let readyTree = null;
      let lastTerm = null;
      const traversePush = function (x, scopeTerm) {
        if (x.name === lastTerm) {
          const newChild = {
            name: scopeTerm,
            idx: dataObject[scopeTerm],
            children: []
          };
          x.children.push(newChild);
        }
      };
      for (let i = 0; i < this.ordering.length; i += 1) {
        this.scopeTerm = this.ordering[i];
        if (readyTree == null) {
          readyTree = {
            name: this.scopeTerm,
            idx: dataObject[this.scopeTerm],
            children: []
          };
          lastTerm = this.scopeTerm;
        } else {
          traverse(readyTree).forEach(x => traversePush(x, this.scopeTerm, dataObject));
          lastTerm = this.scopeTerm;
        }
      }
      return readyTree;
    },
    createFulltree() {
      this.treeData = {
        name: '',
        children: [],
        isOpened: true,
      };
      for (let i = 0; i < this.utmDataArray.length; i += 1) {
        this.treeData.children.push(this.createTree(this.utmDataArray[i]));
      }
    },
    ondragEnd() {
      this.ordering = [new Array( this.list.map(obj => obj.label))][0][0];
      this.createFulltree();
      return true;
    },
    getRandomInt(min, max) {
      return Math.floor(Math.random() * ((max - min) + 1)) + min;
    }
  },
  components: {
    Item,
    draggable,
  },
  created: function created() {
    // Generate random data
    for (let i = 0; i < this.getRandomInt(3, 15); i += 1 ) {
      const newObj = {
        utmTerm: this.getRandomInt(0, 10000),
        utmCampaign: this.getRandomInt(0, 10000),
        utmSource: this.getRandomInt(0, 10000),
        utmMedium: this.getRandomInt(0, 10000),
        utmContent: this.getRandomInt(0, 10000),
      };
      this.utmDataArray.push(newObj);
    }
    this.list = this.list.sort(
      (a, b) => { return a.id > b.id; }
    );
    this.ordering = [new Array( this.list.map(obj => obj.label))][0][0];

    this.createFulltree();
  }
};
</script>

<style lang="scss">
  h5{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Helvetica', 'Arial'
  }
  .drag-list {
    display: table;
    .item{
      display: table-cell;
      padding: 5px;

    }
    .placeholder{
      border: 1px solid #ccc;
      min-width: 3em;
    }
  }
  ul li{
    list-style: none;
  }
  .parent{
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    margin: 5px 0;
  }

  .tree-container{
    width: 80%;
    margin: auto;
    display: block;
    .item {
      .leaf{

      }
    }
  }
  .active{
      font-weight: bold;
  }
</style>
