<template>
  <div id="app">
    <TreeManager></TreeManager>
    <footer>
      <a href="https://bitbucket.org/black_boxx/dndtree">Source code of this TreeDNDApp </a>
      Other examples
      <a href="http://d3sign.ru/xwebapi/lupr.html">Powerfull DJ Web-audio API App</a>

    </footer>
  </div>


</template>
<script>
import TreeManager from './components/TreeManager';

export default {
  name: 'app',
  components: {
    TreeManager,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
